.gameStage {
    -fx-background-color: #ffffff;
}

.grid-players {
    -fx-vgap: 10;
    -fx-hgap: 10;
}

.image-wizard {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.63), 10.0, 0, 3.0, 4.0);
}

.image-disconnected {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.63), 2.0, 0, 3.0, 4.0);
}

.label-nicknames {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.30), 5.0, 0, 3.0, 4.0);
    -fx-graphic-text-gap: 5;
    -fx-font-weight: bold;
}

.label-cardamount {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.63), 10.0, 0, 3.0, 4.0);
}

.text-debug {
    -fx-font-size: 13px;
    -fx-font-family: Georgia;
}

.label-dashname {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Felix Titling";
}

.label-dashname.label .text {
    -fx-fill: black;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5px;
}

.text-playedcard {
    -fx-font-size: 13px;
    -fx-font-family: "Felix Titling";
}

.text-addoncoin {
    -fx-font-family: Elephant;
    -fx-font-size: 29px;
    -fx-fill: black;
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.text-prompt {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.region-assistcards{
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% ,#fcffe2 48%, #ffffff 100%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.63), 10.0, 0, 3.0, 4.0);
}